In [2]:
# wap to check the entered number or not

n1=int(input("enter a number: "))

sum=0
while sum!=1 and sum!=4:
    sum=0
    while n1!=0:
        
        digit=n1%10
        sum=sum+(digit**2)
        n1=n1//10
    n1=sum

if sum==1:
    print("Happy number.")
else:
    print("Not a happy number.")

enter a number: 16
Not a happy number.

In [3]:
# happy number another logic:

i=int(input("enter a number: "))

temp=i
while i!=1 and i!=4:
    sum=0
    for j in str(i):
        sum+=int(j)**2
    i=sum
if i==1:
    print("happy number")
else:
    print("not a happy number")

enter a number: 13
happy number

In [4]:
# wap to print happy numbers between 1 to 100

for n1 in range(1,101):
    temp=n1
    sum=0
    while sum!=1 and sum!=4:
        sum=0
        while n1!=0:

            digit=n1%10
            sum=sum+(digit**2)
            n1=n1//10
        n1=sum

    if sum==1:
        print(temp,end=" ")

1 7 10 13 19 23 28 31 32 44 49 68 70 79 82 86 91 94 97 100

In [11]:
n=int(input("enter number of rows: "))
for i in range(1, n+1):
    for j in range(1, i+1):
        print("*",end=" ")
    print()

enter number of rows: 5
*
* *
* * *
* * * *
* * * * *
* * * * * *

In [13]:
n=int(input("enter number of rows: "))
for i in range(1, n+1):
    for j in range(1, i+1):
        print(j,end=" ")
    print()

enter number of rows: 5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [16]:
n=int(input("enter number of rows: "))
for i in range(1, n+1):
    for j in range(1, i+1):
        print(i,end=" ")
    print()

enter number of rows: 5
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

### chr() ---> converts ASCII to character
### ord() ---> vice versa of above

In [18]:
k=65
print(chr(k))
print(ord("a"))

A
97

In [21]:
n=int(input("enter number of rows: "))
for i in range(1, n+1):
    for j in range(1, i+1):
        print(chr(j+64),end=" ")
    print()

enter number of rows: 5
A
A B
A B C
A B C D
A B C D E

In [22]:
n=int(input("enter number of rows: "))
k=97
for i in range(1, n+1):
    for j in range(1, i+1):
        print(chr(k),end=" ")
        k+=1
    print()

enter number of rows: 5
a
b c
d e f
g h i j
k l m n o

In [29]:
n=int(input("enter number of rows: "))
for i in range(1, n+1):
    for j in range(1, n+2-i):
        print("*",end=" ")
    print()

enter number of rows: 5
* * * * *
* * * *
* * *
* *
*

In [27]:
n=int(input("enter number of rows: "))
for i in range(n,0,-1):  # (start, end , step)
    for j in range(1,i+1):
        print(i,end=" ")
    print()

enter number of rows: 5
5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [28]:
n=int(input("enter number of rows: "))
for i in range(1, n+1):
    for j in range(1, n+2-i):
        print(j,end=" ")
    print()

enter number of rows: 5
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [31]:
n=int(input("enter number of rows: "))
for i in range(1,n+1):
    for j in range(1,i+1):
        if(i%2==0):
            print("#",end=" ")
        else: 
            print("*",end=" ")
    print()

enter number of rows: 5
*
# #
* * *
# # # #
* * * * *

In [55]:
n=int(input("enter number of rows: "))
k=1
for i in range(1, n+1):
    for j in range(1, i+1):
        print(k,end=" ")
    k+=1
    print()

enter number of rows: 5
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [33]:
n=int(input("enter number of rows: "))
k=1
for i in range(1, n+1):
    for j in range(1, i+1):
        print(k,end=" ")
        k+=1
    print()

enter number of rows: 5
1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [36]:
n=int(input("enter number of rows: "))
for i in range(1,n+1):
    for j in range(1,i+1):
        if((i+j)%2==0):
            print("1",end=" ")
        else: 
            print("0",end=" ")
    print()

enter number of rows: 5
1
0 1
1 0 1
0 1 0 1
1 0 1 0 1

In [43]:
n=int(input("enter number of rows: "))
for i in range(1,n+1):
    for j in range(1,i+1): 
            print("",end=" ")
    for k in range(1,n+2-i):
        print("*",end=" ")
    print()

enter number of rows: 5
 * * * * *
  * * * *
   * * *
    * *
     *

In [44]:
n=int(input("enter number of rows: "))
for i in range(1,n+1):
    for j in range(1,i+1): 
            print(" ",end=" ") # same as above code, just added 1 extra space
    for k in range(1,n+2-i):
        print("*",end=" ")
    print()

enter number of rows: 5
  * * * * *
    * * * *
      * * *
        * *
          *

In [45]:
n=int(input("enter number of rows: "))
for i in range(n,0,-1):  # (start, end , step)
    for j in range(1,i+1):
        print("",end=" ")
    for k in range(1,n+1):
        print("*",end=" ")
    print()

enter number of rows: 5
     * * * * *
    * * * * *
   * * * * *
  * * * * *
 * * * * *

In [49]:
n=int(input("enter number of rows: "))
for i in range(1, n+1):
    for j in range(1, n+2-i):
        print(" ",end=" ")
    for k in range(1,i+1):
        print("*",end=" ")
    print()

enter number of rows: 5
          *
        * *
      * * *
    * * * *
  * * * * *

In [50]:
n=int(input("enter number of rows: "))
for i in range(1, n+1):
    for j in range(1, n+2-i):
        print("",end=" ")
    for k in range(1,i+1):
        print("*",end=" ")
    print()

enter number of rows: 5
     *
    * *
   * * *
  * * * *
 * * * * *

In [52]:
n=int(input("enter number of rows: "))
for i in range(1, n+1):
    for j in range(1, n+2-i):
        print("",end=" ")
    for k in range(1,i+1):
        print(k,end=" ")
    print()

enter number of rows: 5
     1
    1 2
   1 2 3
  1 2 3 4
 1 2 3 4 5

In [54]:
n=int(input("enter number of rows: "))
for i in range(1, n+1):
    for j in range(1, n+2-i):
        print("",end=" ")
    for k in range(1,i+1):
        if(i%2==0):
            print(chr(k+64),end=" ")
        else:
            print(k,end=" ")
    print()

enter number of rows: 5
     1
    A B
   1 2 3
  A B C D
 1 2 3 4 5