## replace()

### syntax--> s.replace( old string, new string)

In [4]:
s="learning java is easy"
s1=s.replace("java", "python")
print(s1)

learning python is easy

## split()

### syntax: s.split( separation ) --> list

In [5]:
s="LJ university"
s1=s.split()
print(s1)

for i in s1:
    print(i)

['LJ', 'university']
LJ
university

In [7]:
s="11-11-2011"
s1=s.split("-")
print(s1)

for i in s1:
    print(i)

['11-11-2', '11']
11-11-2
11

In [8]:
s="11-11-2024"
s1=s.split("4")
print(s1)

for i in s1:
    print(i)
    
# in this case, length of the list will be 2

['11-11-202', '']
11-11-202

## Remove punctuation using translate() function 

### Translate with maketrans function 

    maketrans:
    1. static method on str type
    2. Three arguments version;  maketrans( string to be replaced , replace with , string to be removed)
    3. First two equal length strings
    4. Third each special character in string is mapped to none

In [12]:
import string
print(string.punctuation) # string.punctuation returns all the special character
print(len(string.punctuation))
print(str.maketrans("","",string.punctuation))

!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~
32
{33: None, 34: None, 35: None, 36: None, 37: None, 38: None, 39: None, 40: None, 41: None, 42: None, 43: None, 44: None, 45: None, 46: None, 47: None, 58: None, 59: None, 60: None, 61: None, 62: None, 63: None, 64: None, 91: None, 92: None, 93: None, 94: None, 95: None, 96: None, 123: None, 124: None, 125: None, 126: None}

In [19]:
print(str.maketrans("a","b",string.punctuation))
# a will be replaced with b
# maketrans creates a table (dictionary) which will translate string as ________.

{97: 98, 33: None, 34: None, 35: None, 36: None, 37: None, 38: None, 39: None, 40: None, 41: None, 42: None, 43: None, 44: None, 45: None, 46: None, 47: None, 58: None, 59: None, 60: None, 61: None, 62: None, 63: None, 64: None, 91: None, 92: None, 93: None, 94: None, 95: None, 96: None, 123: None, 124: None, 125: None, 126: None}

In [14]:
import string 
t="pyt@$hon is very$ easy!!"
x=str.maketrans("","",string.punctuation)
print(x)
t=t.translate(x)
print(t)

{33: None, 34: None, 35: None, 36: None, 37: None, 38: None, 39: None, 40: None, 41: None, 42: None, 43: None, 44: None, 45: None, 46: None, 47: None, 58: None, 59: None, 60: None, 61: None, 62: None, 63: None, 64: None, 91: None, 92: None, 93: None, 94: None, 95: None, 96: None, 123: None, 124: None, 125: None, 126: None}
python is very easy

In [17]:
import string 
t="pyt@$hon is very$ easy!!"
x=str.maketrans("","","$!")
print(x)
t=t.translate(x)
print(t)

{36: None, 33: None}
pyt@hon is very easy

In [18]:
import string 
t="pyt@$hon is very$ easy!!"
x=str.maketrans("p","t","$!")
print(x)
t=t.translate(x)
print(t)

{112: 116, 36: None, 33: None}
tyt@hon is very easy

In [21]:
t="hi sam!!"
x="msa"
y="eJoi"
table=t.maketrans(x,y)
print(t.translate(table))

ValueError: the first two maketrans arguments must have equal length

In [22]:
t="hi sam!!"
x="msai"
y="eJo"
table=t.maketrans(x,y)
print(t.translate(table))

ValueError: the first two maketrans arguments must have equal length

In [25]:
t="hi sam!!"
x="msa"
y="eJo"
table=t.maketrans(x,y)
print(table)
print()
print(t.translate(table))

{109: 101, 115: 74, 97: 111}

hi Joe!!

# Tuple

    1. same as list except it is immutable
    2. read only version of list
    3. data is fixed and never changes then we should go for tuple
    4. insertion order is preserved
    5. duplicates are allowed
    6. heterogeneous objects (multiple datatypes) are allowed
    7. index will play important role in tuple 
    8. supports both +ve and -ve index
    9. represents with () parenthesis with comma separator

## creation of tuple

In [26]:
t=()
t=(10)
print(type(t))
t=(10,)
print(type(t))

<class 'int'>
<class 'tuple'>

In [27]:
# range typecasted to tuple

t=tuple(range(10,20,2))
print(t)

(10, 12, 14, 16, 18)

## Accessing elements of tuple

### 1. By using index

In [30]:
t=(10,20,30,40,50,60)
# -ve index: -6 -5 -4 -3 -2 -1
# +ve index: 0 1 2 3 4 5
print(t[-1])
print(t[-6])
print(t[2])

60
10
30

In [29]:
print(t[10])

IndexError: tuple index out of range

### 2. By using slicing

In [32]:
t=(10,20,30,40,50,60)
print(t[2:5])
print(t[3:100])
print(t[::2]) # full range, step of 2
print(t[-1:-4:-1])
print(t[-1:-4])

(30, 40, 50)
(40, 50, 60)
(10, 30, 50)
(60, 50, 40)
()

### Immutability

In [35]:
t=(10,20,30,40,50,60)
t[2]=70
print(t)

TypeError: 'tuple' object does not support item assignment

### Mathematical operators for tuple:
    + --> concatenation
    * --> repition

In [34]:
t1=(1,2,3)
print(t1*3)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [36]:
t1=(1,2,3)
t2=(4,5,6)
print(t1+t2)

(1, 2, 3, 4, 5, 6)

## Important functions for tuple

### 1. len()

In [37]:
t=(10,20,30,40,50,60)
print(len(t))

6

### 2. count()

In [38]:
t=(10,20,30,40,50,60)
print(t.count(10))
print(t.count(40))
print(t.count(70))

1
1
0

### 3. index()

In [44]:
t=(10,20,30,40,50,60)
print(t.index(20))
print(t.index(90)) # --> value error

1

ValueError: tuple.index(x): x not in tuple

### 4. sorted()

In [41]:
t=(10,200,60)
print(sorted(t))

[10, 60, 200]

In [45]:
# sorting in dec order:

t=(10,200,60)
print(sorted(t,reverse=True))

[200, 60, 10]

### 5. min() and max()

In [46]:
t=(10,20,30,40,50,60)
print(min(t))
print(max(t))

10
60

In [48]:
t=(10,20,30,40,50,60,"abc","ABC","def")
print(min(t))
print(max(t))

TypeError: '<' not supported between instances of 'str' and 'int'

In [50]:
t=("abc","ABC","defg")
print(min(t))
print(max(t))

ABC
defg

## Tuple packing

In [51]:
a=10
b=20
c=30
d=40

t=a,b,c
print(t)

(10, 20, 30)

## Tuple unpacking

In [52]:
# here, length must be same

t=(1,2,3,4,5)
a,b,c=t
print(a,b,c)

ValueError: too many values to unpack (expected 3)

In [55]:
t=(1,2,3,4,5)
a,b,c,d,e=t
print(a,b,c,d,e)

1 2 3 4 5

## Loop through tuples

In [57]:
t=("apple","banana","cherry")

for i in t:
    print(i)
    
print("--------")

for i in range(len(t)):
    print(t[i])

apple
banana
cherry
--------
apple
banana
cherry

In [61]:
t=("apple","banana","cherry")

i=0 
while i<len(t):
    print(t[i])
    i+=1
    
print("--------")

i=0
while i<len(t):
    print(t[i])
    i+=1

apple
banana
cherry
--------
apple
banana
cherry

### reversed()
--> method computes reverse of given sequence object return in the form of list

In [62]:
s="python"
print(list(reversed(s)))

x=("p","y","t","h","o","n")
print(list(reversed(x)))

y=range(5,9)
print(list(reversed(y)))

z=[1,2,3,4,5]
print(list(reversed(z)))

['n', 'o', 'h', 't', 'y', 'p']
['n', 'o', 'h', 't', 'y', 'p']
[8, 7, 6, 5]
[5, 4, 3, 2, 1]

### enumerate() --> used for indexing

In [65]:
l1=("eat","sleep","code","eat")
print(list(enumerate(l1,10)))

[(10, 'eat'), (11, 'sleep'), (12, 'code'), (13, 'eat')]

In [77]:
l1=("eat","sleep","code","eat")
print(list(enumerate(l1)))
print(l1[0])

[(0, 'eat'), (1, 'sleep'), (2, 'code'), (3, 'eat')]
eat

In [67]:
l1="python"
print(enumerate(l1))

<enumerate object at 0x000002566D803F40>

In [78]:
l1="python"
print(list(enumerate(l1)))

[(0, 'p'), (1, 'y'), (2, 't'), (3, 'h'), (4, 'o'), (5, 'n')]

In [69]:
s="Hello How are you? "
for a,b in enumerate(s):
    print(a,"-->",b)

0 --> H
1 --> e
2 --> l
3 --> l
4 --> o
5 -->
6 --> H
7 --> o
8 --> w
9 -->
10 --> a
11 --> r
12 --> e
13 -->
14 --> y
15 --> o
16 --> u
17 --> ?
18 -->

In [70]:
# tuple in list

s="Hello How are you? "
for a in enumerate(s):
    print(a)

(0, 'H')
(1, 'e')
(2, 'l')
(3, 'l')
(4, 'o')
(5, ' ')
(6, 'H')
(7, 'o')
(8, 'w')
(9, ' ')
(10, 'a')
(11, 'r')
(12, 'e')
(13, ' ')
(14, 'y')
(15, 'o')
(16, 'u')
(17, '?')
(18, ' ')

In [82]:
# write a program to remove ith character from string

s="hello world"
n=int(input("enter index of character to be removed: "))

x=list(enumerate(s))

print(s.translate(s.maketrans("","",s[n]))) # gives wrong output

enter index of character to be removed: 2
heo word

In [83]:
# write a program to remove ith character from string

s="hello world"
n=int(input("enter index of character to be removed: "))

t=s[0:n]+s[n+1:]
print(t)

enter index of character to be removed: 2
helo world